.contactMain {
  grid-area: contact;
  width: 342px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
  overflow-y: auto;
  height: calc(100vh - 56px);
}
.contactCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  padding: 10px;
  margin: 5px;
}
.chatLeft {
  display: flex;
  align-items: center;
}
.contactProfileDiv {
  background-color: #422aa1;
  color: #ffffff;
  font-size: 24px;
  width: 44px;
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatDetails {
  display: grid;
  align-content: center;
  padding: 10px;
  font-family: "Inter", sans-serif;
  flex: 1;
}

.contactName {
  font-size: 16px;
  font-weight: 400;
  color: #333333;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contactMsgs {
  font-size: 16px;
  font-weight: 400;
  color: #717171;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatDateMain {
  display: grid;
  align-content: space-between;
  justify-items: center;
}
.chatDate {
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}
.chatRead {
  width: 8px;
  height: 9px;
  background-color: rgb(91, 91, 255);
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}
